nav {
  background-color: #00bfff;
}

.navCategories {
  display: inline-block;
  text-decoration: none;
  color: antiquewhite;
  margin: 0.5rem;
  
}

.navCategories li {
  list-style-type: none;
}



.navRollover:hover {
  background-color: #34a9e4;
  cursor: pointer;
}

/* Hover effect for navigation category */
.navCategories:hover ul {
  display: block; /* Show subcategory list on hover */
}

.navCategories ul {
  display: none; /* Hide subcategory list by default */
  position: absolute;
  background-color: #62d0f4;; /* Background color for the dropdown */
  padding: 15px;
  margin: 8px;
  border-radius: 5px;
  align-items: center;
 
}

.navCategories ul li {
  list-style-type: none;
  padding: 10px 5px;
  margin: -5px;
}


